.grid {
  max-width: 100%;
  height: auto;
  background: rebeccapurple;
  padding: 10%;
  min-height: 60vh;
  padding-top: 0;
  padding-bottom: 1%;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .grid {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
}
